# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Daniel\Documents\HTL22\HTL2020\4EHIFPOS\Test1\T2\22\virtuel Dart Automat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
